#!/bin/bash

# git
#git reset --hard
#git fetch --all
#git checkout master
#git reset --hard origin/master

# frontend prod
# npm run prod

# frontend dev
npm run dev

# backend
composer install
sudo chmod +x deploy.sh
sudo find . -type d -exec chmod 775 {} ";"
sudo find . -type f -exec chmod 664 {} ";"
sudo chown -R $(whoami):www-data .
sudo chgrp -R www-data storage bootstrap/cache
sudo chmod -R ug+rwx storage bootstrap/cache
php artisan migrate
php artisan route:cache
php artisan queue:restart
