// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.post-left-image {
    float: left;
    width: 50%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
}

.post-right-image {
    width: 50%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}
