// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue";

.game-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    transition: 0.5s;
}

.game-image:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(0.95);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.home-logo {
    height: 40px;
    transition: transform 500ms;
}

.home-logo:hover {
    transform: translateY(-5px);
}

.cursor-pointer {
    cursor: pointer;
}

.game-player {
    top: 0;
    left: 0;
    position: relative;
}

.zoom-in {
    animation: zoom-in 0.3s linear;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
    from {
        scale: 1;
        opacity: 1;
    }
    to {
        scale: 1.2;
        opacity: 0;
    }
}

.blue-btn-popping {
    border: 1px solid;
    animation: blue-btn-popping 1350ms cubic-bezier(0.19, 1, 0.22, 1);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 3px solid;
}

@keyframes blue-btn-popping {
    from {
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: rgba(52, 144, 220, 0.5);
        outline-offset: 0px;
    }
    to {
        box-shadow:
            inset 0 0 20px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(52, 144, 220, 0);
        outline-offset: 30px;
    }
}

.red-btn-popping {
    border: 1px solid;
    animation: red-btn-popping 1350ms cubic-bezier(0.19, 1, 0.22, 1);
    animation-iteration-count: infinite;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 3px solid !important;
    border-color: $red !important;
}

@keyframes red-btn-popping {
    from {
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: rgba(220, 53, 69, 0.5);
        outline-offset: 0px;
    }
    to {
        box-shadow:
            inset 0 0 20px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(220, 53, 69, 0);
        outline-offset: 30px;
    }
}

.image-container {
    height: 50px;
    overflow: hidden; /* Hide any overflow */
}

.zoomable-image {
    width: 100%; /* Make the image fill the container */
    height: 100%;
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.zoomable-image:hover {
    transform: scale(1.2); /* Apply a scale transformation on hover */
}

.rank-circle {
    position: absolute;
    top: -5%;
    right: -3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgba(53, 77, 157, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}