@use "sass:math";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue";

[v-cloak] {
    display: none;
}

.lang-options {
    position: absolute;
    right: 15px;
    z-index: 1;
    text-align: right;
}
@media (max-width: 576px) {
    .lang-options {
        position: static;
    }
}

.post-element-container {
    img, video {
        width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
    }
}

.game-body {
    height: 700px;
}

.game-image-container img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: contain;
    background-color: #fff;
    cursor: pointer;
}

.home-logo {
    height: 30px;
    width: 30px;
    transition: transform 500ms;
}

.home-logo:hover {
    transform: translateY(-5px);
}

.cursor-pointer {
    cursor: pointer;
}

.game-player {
    top: 0;
    left: 0;
    position: relative;
    border-radius: 20px;
}

.left-player {
    background-color: $blue-light;
    border-color: #000;
    img, iframe, video {
        border-radius: 20px 20px 0 0;
    }
}
.right-player {
    background-color: $red-light;
    border-color: #000;
    img, iframe, video {
        border-radius: 20px 20px 0 0;
        @media (max-width: 786px) {
            border-radius: 0 0 20px 20px;
        }
    }

}

.zoom-in {
    animation: zoom-in 0.3s linear;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
    from {
        scale: 1;
        opacity: 1;
    }
    to {
        scale: 1.2;
        opacity: 0;
    }
}

.blue-btn-popping {
    border: 1px solid;
    animation: blue-btn-popping 1350ms cubic-bezier(0.19, 1, 0.22, 1);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 3px solid;
}

@keyframes blue-btn-popping {
    from {
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: rgba(52, 144, 220, 0.5);
        outline-offset: 0px;
    }
    to {
        box-shadow:
            inset 0 0 20px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(52, 144, 220, 0);
        outline-offset: 30px;
    }
}

.red-btn-popping {
    border: 1px solid;
    animation: red-btn-popping 1350ms cubic-bezier(0.19, 1, 0.22, 1);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 3px solid;
}

@keyframes red-btn-popping {
    from {
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: rgba(224, 34, 34, 0.5);
        outline-offset: 0px;
    }
    to {
        box-shadow:
            inset 0 0 20px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(200, 45, 53, 0);
        outline-offset: 30px;
    }
}

.image-container {
    height: 50px;
    overflow: hidden; /* Hide any overflow */
}

.zoomable-image {
    width: 100%; /* Make the image fill the container */
    height: 100%;
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.zoomable-image:hover {
    transform: scale(1.05); /* Apply a scale transformation on hover */
}

.rank-circle {
    position: absolute;
    top: -5%;
    right: -3%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(53, 77, 157, 0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.alert-message {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    width: 300px;
    text-align: center;
    opacity: 1;
    animation: alert-message 1s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes alert-message {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.rank-card {
    min-height: 270px;
}

.rank-card {
    img, video, iframe {
        width: 100%;
        height: 400px;
        object-fit: contain;
        @media (max-width: 576px) {
            height: 270px;
        }
    }
}

.rank-header {
    display: flex;
    align-items:center;
}

.card-hover {
    border-radius: 4px;
    box-shadow:
        0 6px 10px rgba(0, 0, 0, 0.08),
        0 0 6px rgba(0, 0, 0, 0.05);
    transition:
        0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.card-hover:hover {
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.12),
        0 4px 8px rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
    .sm-text-break {
        word-break: break-word;
    }
}
.red-card {
    color: #fff;
    background-color: $red-light;
    border-color: $red-light;
}
.blue-card {
    color: #fff;
    background-color: $blue-light;
    border-color: $blue-light;
}

.font-size-small {
    font-size: small;
}
.font-size-large {
    font-size: large;
}

.bg-default {
    background-color: #f8fafc;
}

.avatar-container {
    margin-right: 20px;
    width: 64px;
    text-align: -webkit-center;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 992px) {
    .avatar-container {
        width: 15%;
    }
}
@media (max-width: 768px) {
    .avatar-container {
        width: 20%;
    }
}
@media (max-width: 576px) {
    .avatar-container {
        display: none;
    }
}

.avatar {
    width:64px;
    height:64px;
    overflow: hidden;
    border-radius:50%;
    position: relative;
}
.avatar img {
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    width: 64px;
    height: 100%;
}

.comment-container {
    width: 90%;
}
@media (max-width: 992px) {
    .comment-container {
        width: 85%;
    }
}
@media (max-width: 768px) {
    .comment-container {
        width: 80%;
    }
}
@media (max-width: 576px) {
    .comment-container {
        display: none;
    }
}

.break-all {
    word-break: break-all;
}

.text-align-end {
    text-align: end;
}

.white-space-normal {
    white-space: normal;
}

.white-space-pre-line {
    white-space: pre-line;
}

.white-space-no-wrap {
    white-space: nowrap;
}

.w-100 {
    width: 100%;
}
.w-auto {
    width: auto;
}

.btn-shine {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #777;
}
.btn-shine::after {
    content: "";
    display: inline-block;
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.divider-wrapper {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 24px 0 0;
    align-items: center;
    justify-content: center;
    width: 300px;
    vertical-align: baseline;
}

.divider-wrapper:before, .divider-wrapper:after {
    content: "";
    border-bottom: 1px solid #c2c8d0;
    flex: 1 0 auto;
    height: .5em;
    margin: 0;
}

.divider {
    text-align: center;
    flex: .2 0 auto;
    margin: 0;
    height: 12px;
}

.text-align-webkit-center {
    text-align: -webkit-center;
}

.post-title {
    font-size: 1.8rem;
    font-weight: 500;
}
.element-title {
    font-size: 1.125rem;
    font-weight: 400;
}
.game-element-title {
    font-size: calc(10px + 1.4vw);
}
.rank-number {
    font-size: 1.6rem;
    font-weight: 400;
}

.loading-animation {
    animation: spin 2s linear infinite;
    background-size: 50px 50px;
    background-image: url('/storage/loading.svg');
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.vote-button {
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4rem;
}

.twitch-container {
    iframe {
        border: 0;
    }
}

@keyframes updown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.updown-animation {
    animation: updown 2s ease-in-out infinite;
}

.search-bar {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 16px;
}
@media (max-width: 768px) {
    .search-bar {
        width: 200px;
    }
}
@media (max-width: 576px) {
    .search-bar {
        width: 140px;
    }
}

.preview-carsousel-image {
    height: 350px;
    z-index: 10;
    object-fit: cover;
    width: 75%;
}
@media (max-width: 576px) {
    .preview-carsousel-image {
        height: 250px;
        width: 100%;
    }
}

.preserve-for-carousel {
    height: 350px;
}
@media (max-width: 576px) {
    .preserve-for-carousel {
        height: 250px;
    }
}

.home-carousel-container {
    width: 75%;
    display: flex;
    // iframe under this class will be responsive
    iframe, img {
        height: 350px;
    }
}
@media (max-width: 576px) {
    .home-carousel-container {
        width: 100%;
        iframe {
            height: 250px !important;
        }
        img {
            height: 250px;
        }
    }
}

.reset-link {
    color: inherit;
    text-decoration: none;
    position: relative; // Needed to position the ::after pseudo-element
    display: block; // Make the link block-level to include the padding in the clickable area
    padding-right: 25px;
    padding-left: 25px;

    &::after {
        content: "\00d7"; // Set the content to the "X" icon
        position: absolute;
        top: 0;
        right: 0; // Adjust as needed
        display: none; // Hide the icon by default
    }
    // no shown content on mobile
    @media (max-width: 768px) {
        &::after {
            content: "";
            display: none;
        }
    }

    &:hover {
        color: inherit;
        text-decoration: none;

        &::after {
            display: block; // Show the icon on hover
        }
    }
}

.preview-carsousel-loading {
    position: absolute;
    top: 50%;
    display: flex;
    z-index: 20;
    color: #f8fafc;
}

.grid-sizer, .grid-item {
    width: 49%;
}
.gutter-sizer { width: 2%; }

@media (max-width: 576px) {
    .grid-sizer, .grid-item {
        width: 100%;
    }
    .gutter-sizer { width: 0%; }
}

.champion-card {
    height: 100px;
    object-fit: contain;
    @media (min-width: 1800px) {
        height: 140px;
    }
    @media (min-width: 2160px) {
        height: 200px;
    }
}
.champion-card-container {
    border-radius: 20px;
}


.eliminated-image {
    filter: grayscale(100%);
}
.eliminated-x {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    color: white;
}
.champion-footer-icons {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    i {
        color: white;
    }
}

.champions-container {
    top:70px;
    overflow:auto;
    max-height:90vh;
}

.return-top-button {
    width: 30px;
    height:30px;
    border-radius:5px
}

.comment-input-field {
    font-size: 16px;
}

.font-size-16 {
    font-size: 16px;
}

.rank-chart-container {
    min-width: 400px;
    width: 100%;
    height: 400px;

    @media (max-width: 992px) {
        height: 300px;
        min-width: 400px;
    }
    @media (max-width: 768px) {
        height: 200px;
        min-width: 400px;
    }
}

.my-champion-element {
    height: 400px;
    padding: 10px;
    margin: 10px;
    @media (max-width: 768px) {
        height: 300px;
    }
    @media (max-width: 576px) {
        height: 270px;
    }
}

.chart-tooltip-bg {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: white;
    opacity: 1;
    pointer-events: none;
    transition: all .1s ease;
    padding: 10px;
    table {
        margin: 0;
    }
}

.overflow-scroll {
    overflow: scroll;
}
.overflow-x-scroll {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
    @media (min-width: 576px) {
        scrollbar-width: thin;
    }
}
.schrollbar-thin::-webkit-scrollbar {
    scrollbar-width: thin;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar-md::-webkit-scrollbar {
    @media (max-width: 768px) {
        display: none !important;
    }
}
.hide-scrollbar-sm::-webkit-scrollbar {
    @media (max-width: 576px) {
        display: none !important;
    }
}

::-webkit-scrollbar-track {
    background: #ffffff;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar-button {
    display: none;
}

.list-enter-active, .list-leave-active {
    transition: all .5s ease;
  }
.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.slide-in-left-enter-active {
    animation: slide-in-left 0.2s ease;
}
.slide-in-left-leave-active {
    animation: slide-in-left 0.2s ease reverse;
}
@keyframes slide-in-left {
0% {
    transform: translateX(-100%);
}
100% {
    transform: translateX(0);
}
}
