// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue';


.game-image {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    transition: .5s;
}

.game-image:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(0.95);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.cursor-pointer {
    cursor: pointer;
}

.game-player {
    top: 0;
    left: 0;
    position: relative;
}

.zoom-in {
    animation: zoom-in 0.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes zoom-in {
    from {
        scale: 1;
        opacity: 1;
    }
    to {
        scale: 1.2;
        opacity: 0;
    }
}
